img {
  height: auto;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 1399px) {
  header {
    .border__btn {
      padding: 0px 30px;
    }
  }

  .header__toggle {
    display: flex;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-60 {
  margin-left: 60px;
}

.mean-container {
  .mean-nav {
    .has-dropdown {
      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
      }
    }

    .mean-expand {
      padding: 0 !important;
      border: 1px solid var(--clr-border-1) !important;
      height: 34px;
      width: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--clr-common-heading);
      line-height: 34px;
      top: 0;
      font-weight: 400;
      border-radius: 50%;

      i {
        transition: all 0.3s ease-in;
        font-size: 18px;
        color: var(--clr-common-heading);
      }
    }

    button,
    a {
      border-top: 1px solid #e0e3ed;
      width: 100%;
      display: flex;
    }

    .nul {
      border-top: 0px !important;
    }

    .sub-menu {
      li {
        a {
          padding: 10px 30px;
        }
      }
    }

    .sub-menu {
      overflow-y: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
    }

    .sub-menu-open {
      max-height: 1000px;
    }

    .sm-btn-active {
      .mean-expand {
        color: var(--clr-common-white);
        background-color: var(--clr-theme-1);
        border-color: var(--clr-theme-1) !important;

        i {
          transform: rotate(45deg);
          color: white;
        }
      }
    }
  }
}

.mr-15 {
  margin-right: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.offcanvas__social ul li:not(:last-child) {
  margin-right: 10px;
}

.offcanvas__social {
  padding-bottom: 40px;
}

.borderc-btn {
  position: relative;
  padding: 11px 0px;
  transition: all 0.4s;
  min-width: 160px;
  justify-content: center;
  display: flex;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 4px solid #00132f;
    left: 4px;
    top: 4px;
    border-top: 0;
    border-left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover {
    letter-spacing: 0.8px;
    &::before {
      left: 8px;
      top: 8px;
      border: 8px solid #00132f;
      border-top: 0;
    border-left: 0;
    }
  }
}

.head-alter {
  .submenu {
    border-top: 3px solid #f0ad00 !important;
  }

  #mobile-menu {
    button,
    a {
      font-weight: 500 !important;
      &:hover {
        color: #f0ad00 !important;
      }
    }
  }
}

.foot-one-bg {
  background-image: url("../../../public/img/shape/footer-bg.png");
}

.banner-bg-two {
  background-image: url("../../../public/img/shape/c.png");
}

// video
.video-backdrop {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
  z-index: 999;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.video-inner {
  max-width: 100%;
  height: calc(100% - 120px);
  max-height: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  overflow-y: auto;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

.video-zoom-in {
  visibility: visible;
  opacity: 1;
  background-color: #0b0b0b95;
  .video-container {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.video-container {
  position: relative;
  max-width: 850px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  transition-delay: 0.3s;
}

.video {
  width: 100%;
  height: 100%;
  border: 0px;
}

.close-video-popup {
  position: absolute;
  top: -60px;
  right: -6px;
  background-color: transparent;
  font-size: 30px;
  box-shadow: none;
  border: 0px;
  color: white;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 991.98px) {
  .video-container {
    max-width: 540px;
    max-height: 300px;
  }

  .close-video-popup {
    top: -50px;
    font-size: 24px;
  }
}

.cta-one-bg {
  background-image: url("../../../public/img/shape/cta-shape.png");
}

.service-bg-two {
  background-image: url("../../../public/img/shape/service-pattren.png");
}

.service-two-cmn {
  background-image: url("../../../public/img/service/service-1.jpg");
}

.cus-faq {
  .accordion-collapse {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: block;
    transition: all 0.6s ease-in;
  }
  
  .accordion-collapse.show {
    height: auto;
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
  
}

.my-app {
  overflow-x: clip !important;
}

.home-two-feed-bg {
  background-image: url("../../../public/img/feedback/feedback-bg.jpg");
}


.cus-home-four {
  margin-top: 200px !important;
}

@media (max-width: 991.98px) {
  .cus-home-four {
    margin-top: 140px !important;
  }
}

@media (max-width: 575.98px) {
  .cus-home-four {
    margin-top: 120px !important;
  }
}

.cus-caro {
  .carousel-item {
    display: block !important;
  }
}

.sub-menu {
  padding: 0px !important;
  margin: 0px !important;
  li {
    list-style-type: none;
  }
}

#mobile-menu {
  ul {
    margin-bottom: 0px !important;
  }
}

.header-five {
  position: static;
  background-color: white;
}

.ab-team {
  background-color: white;
  background-image: none;
}

.bg-white {
  background-color: white;
}

.tik {
  justify-content: center;
}